# Python Virtual Environment
venv/
env/
ENV/
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# SQLite Database local
*.db
*.sqlite3

# Uploads directory (Opsional: agar file tes upload tidak mengotori repo)
uploads/*
!uploads/.gitkeep

# IDE Settings
.vscode/
.idea/
*.swp